<% content_for(:template_name, "card") %>

<div class="form-card__header spacing-below-35">
  <h2 class="form-card__title">You’re all done!</h2>
</div>
<div class="form-card__content">
  <div class="grid">
    <div class="grid__item">
      <p class="text text--left">You don’t need to fill this form out. You’ll get money automatically
        on your P-EBT card.</p>
      <p class="text text--left">
        If there’s a problem with your card, you can call California’s EBT customer service center at
        <a href="tel:+18773289677">(877) 328-9677</a>, 24 hours a day, 7 days a week.</p>
      </p>
    </div>
  </div>
</div>