<% content_for(:template_name, "card") %>
<%= form_with url: eligible_steps_path, method: :put, local: true do %>
  <%= fields_for(:form, @form, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <div class="form-card__header spacing-below-15">
      <div class="emoji emoji--big emoji--backpack spacing-below-35"></div>
      <h2 class="form-card__title">Is your child able to receive free or reduced price meals during the school
        year?</h2>
    </div>
    <div class="form-card__content">
      <div class="grid">
        <div class="grid__item">
          <p class="with-padding-small text--left">Even if your child does not eat school meals, we need to
            know
            if they are eligible for this program.</p>
          <p class="with-padding-small text--left">If your child goes to a school that serves free breakfast
            and
            lunch to everyone, answer yes.</p>
        </div>
      </div>
      <div class="grid">
        <div class="grid__item text--left spacing-above-60 spacing-below-60">
          <%= f.cfa_radio_set(
                  :is_eligible,
                  collection: [
                      {value: :yes, label: "Yes"},
                      {value: :no, label: "No"},
                      {value: :dont_know, label: "I don't know"},
                  ]
              )
          %>
        </div>
      </div>
    </div>
    <div class="form-card__footer">
      <%= f.button "Continue", class: "button button--primary" %>
    </div>
  <% end %>
<% end %>