<% content_for(:template_name, "card") %>

<div class="form-card__header spacing-below-35">
  <h2 class="form-card__title">This program is only for students who can get free and reduced price school meals.</h2>
</div>
<div class="form-card__content">
  <div class="grid">
    <div class="grid__item">
      <p class="with-padding-small text--left">If your family still needs help buying groceries, you can
        apply for CalFresh (also known as Food Stamps).</p>
      <p class="with-padding-small text--left">Many immigrants can get CalFresh.
        <%= link_to "Learn more about CalFresh and immigration.", "https://www.getcalfresh.org/en/immigrants" %>
      </p>
    </div>
  </div>
</div>
<div class="form-card__footer">
  <div class="grid__item spacing-below-35">
    <%= link_to "Apply for CalFresh", "https://www.getcalfresh.org", class: "button button--primary" %>
  </div>
  <div class="grid__item">
    <%= link_to raw("<i class=\"icon-arrow_back\"></i>Go back"), :back, class: "button" %>
  </div>
</div>