<% content_for(:template_name, "card") %>

<div class="form-card__header spacing-below-15">
  <h2 class="form-card__title">This program is only for children who can get free and reduced price school meals.</h2>
</div>
<div class="form-card__content">
  <div class="grid">
    <div class="grid__item">
      <p class="text--small with-padding-small text--left">If your family still needs help buying groceries, you can
        apply for CalFresh (also known as Food Stamps).</p>
      <p class="text--small with-padding-small text--left">Many immigrants can get CalFresh. Learn more about
        CalFresh and immigration.</p>
      <%= link_to "Apply for CalFresh", "https://www.getcalfresh.org", class: "button button--small button--primary" %>

    </div>
  </div>

</div>