<% if I18n.locale != :en %>
  <a class="toolbar__item text--small link--subtle" lang="es" href="?locale=en">English</a>
<% end %>
<% if I18n.locale != :es %>
  <a class="toolbar__item text--small link--subtle" lang="es" href="?locale=es">Español</a>
<% end %>
<% if I18n.locale != :zh %>
  <a class="toolbar__item text--small link--subtle" lang="es" href="?locale=zh">中文</a>
<% end %>