<% content_for(:template_name, "card") %>

<div class="form-card__header">
  <h1 class="form-card__title">Here's how it works:</h1>
</div>
<div class="form-card__content text--centered">
  <div class="grid grid--how spacing-below-25">
    <div class="grid__item width-one-fourth">
      <div class="emoji emoji--big spacing-below-25 emoji--page-facing-up"></div>
    </div>
    <div class="grid__item width-three-fourths">
      <p class="with-no-padding text--left"><b>Give us your basic information.</b></p>
      <p class="with-padding-small text--left">We’ll make sure you’re eligible, and ask your children’s
        names and birthdates, the name of a parent or guardian, and the address you’re registered at the school
        with.</p>
    </div>
  </div>
  <div class="grid grid--how spacing-below-10">
    <div class="grid__item width-one-fourth">
      <div class="emoji emoji--big spacing-below-25 emoji--mail-open"></div>
    </div>
    <div class="grid__item width-three-fourths">
      <p class="with-no-padding text--left"><b>Get a P-EBT card in the mail.</b></p>
      <p class="with-padding-small text--left">You’ll get a P-EBT card with money on it for groceries within
        10 days.</p>
    </div>
  </div>
  <div class="grid grid--how spacing-below-10">
    <div class="grid__item width-one-fourth">
      <div class="emoji emoji--big spacing-below-25 emoji--eggs"></div>
    </div>
    <div class="grid__item width-three-fourths">
      <p class="with-no-padding text--left"><b>Buy groceries for your family.</b></p>
      <p class="with-padding-small text--left">The P-EBT card will be loaded with money each month until the
        end of the school year.</p>
    </div>
  </div>
</div>
<div class="form-card__footer">
  <%= link_to("Continue", eligible_steps_path, class: "button button--primary") %>
</div>
