<header class="main-header">
  <div class="toolbar toolbar--wrap-when-small">
    <div class="toolbar__left">
    </div>
    <div class="toolbar__right>">
      <a class="toolbar__item text--small link--subtle" lang="zh" href="?new_locale=zh">中文</a>
      <a class="toolbar__item text--small link--subtle" lang="es" href="?new_locale=es">Español</a>
    </div>
  </div>
</header>
<div class="hero--food">
  <section class="slab slab--hero">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <h2 class="heading-60">Information about P-EBT</h2>
      </div>
    </div>
  </section>
  <section class="slab slab--white">
    <div class="grid">
      <h5>What are ‘P-EBT’ or Pandemic EBT benefits?</h5>
      <p class="form-card__body-text">
        Due to coronavirus (COVID 19), children who are eligible for free or reduced-price meals at school will get
        extra food benefits. These food benefits are called Pandemic EBT or P-EBT benefits. P-EBT benefits help
        families in California buy food when school is closed.
      </p>
      <h5>Who is eligible for P-EBT benefits?</h5>
      <p class="form-card__body-text">
        Children are eligible for P-EBT benefits if:
        <ul class="list--bulleted">
          <li>Their school is closed due to coronavirus (COVID 19)</li>
          <li>They are eligible for free or reduced-price school meals</li>
        </ul>

      </p>
      <h5>If I get P-EBT benefits, will it affect my immigration status or make me a public charge?</h5>
      <p class="form-card__body-text">
        No. Using P-EBT benefits will not affect your immigration status and it will not make you a public charge.
      </p>
      <h5>What if my children are still getting ‘school meals ‘to-go’ from another location?</h5>
      <p class="form-card__body-text">
        Children who pick up 'to-go' meals in their community are still eligible for P-EBT benefits if:
        • Their school is closed due to coronavirus (COVID 19)
        • They are eligible for free or reduced-price school meals
      </p>
      <h5>How much in P-EBT benefits will I get?</h5>
      <p class="form-card__body-text">
        You can get up to $338 for each child who is eligible for P-EBT benefits. As long as you apply before June
        30th, 2020, you will get the full amount of benefits for all four months.
        The total amount you will get depends on how many eligible children are living in your home. For each
        eligible
        child, your card will be paid the following each month:
      <ul class="list--bulleted">
        <li>March 2020: $63 per child</li>
        <li>April 2020: $111 per child</li>
        <li>May 2020: $111 per child</li>
        <li>June 2020: $53 per child</li>
      </ul>
      This means each eligible child will get a total of $338 in P-EBT benefits over a four month period.
      </p>
      <h5>What can I buy with P-EBT benefits?</h5>
      <p class="form-card__body-text">
        Your P-EBT benefits can buy food in most grocery stores and farmer's markets.
        Use your P-EBT card like a debit card:
      <ul class="list--bulleted">
        <li>Select "EBT"</li>
        <li>Swipe the card</li>
        <li>Enter your private PIN number</li>
      </ul
      <h5>If I already got a P-EBT card in the mail do I need to apply online?</h5>
      <p class="form-card__body-text">
        No. If you already received a P-EBT card in the mail do not apply online. Follow the instructions that came
        with your P-EBT card and create your private PIN number. Then your card will be ready to use.
      </p>
      <h5>What should I do when I get my P-EBT card in the mail?</h5>
      <p class="form-card__body-text">
        Follow the instructions that came with your P-EBT card and create your private PIN number. Then your card
        can
        be used to buy food in most grocery stores and farmer's markets.
      </p>
      <h5>When is the deadline to apply for P-EBT benefits?</h5>
      <p class="form-card__body-text">
        You must apply by June 30, 2020 to get P-EBT benefits. P-EBT benefits are only available while schools are
        closed due to coronavirus (COVID 19). If you didn’t get a P-EBT card in the mail and do not apply by June
        30,
        2020 you will not be able to get P-EBT benefits.
      </p>
      <h5>What if I applied online and haven’t received my P-EBT card?</h5>
      <p class="form-card__body-text">
        Call California’s EBT customer service center at (877) 328-9677. You can reach them 24 hours a day, 7 days a
        week.
      </p>
      <h5>How long do I have to use my P-EBT benefits?</h5>
      <p class="form-card__body-text">
        You can use your P-EBT benefits for one year. It starts on the date you get your P-EBT card.
      </p>
    </div>
  </section>
</div>
