<% content_for(:template_name, "card") %>

<div class="form-card__header spacing-below-15">
  <div class="emoji emoji--bigger spacing-below-25 emoji--pita"></div>
  <h2 class="form-card__title">Who can get free and reduced price school meals?</h2>
</div>
<div class="form-card__content">
  <div class="grid">
    <div class="grid__item">
      <p class="with-padding-small text--left">If your child goes to a school that serves free meals to
        everyone, they are eligible.</p>
      <p class="with-padding-small text--left">Otherwise, look at the chart below. If your <strong>current income</strong> is at or
        below the amount listed for your family size, your child is eligible.</p>
    <div class="grid__item">
      <table class="data-table">
        <thead>
        <tr>
          <th>Household size</th>
          <th>Annual income</th>
          <th>Monthly income</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>$23,107</td>
          <td>$1,926</td>
        </tr>
        <tr>
          <td>2</td>
          <td>$31,284</td>
          <td>$2,607</td>
        </tr>
        <tr>
          <td>3</td>
          <td>$39,461</td>
          <td>$3,289</td>
        </tr>
        <tr>
          <td>4</td>
          <td>$47,638</td>
          <td>$3,970</td>
        </tr>
        <tr>
          <td>5</td>
          <td>$55,815</td>
          <td>$4,652</td>
        </tr>
        <tr>
          <td>6</td>
          <td>$63,992</td>
          <td>$5,333</td>
        </tr>
        <tr>
          <td>7</td>
          <td>$72,169</td>
          <td>$6,015</td>
        </tr>
        <tr>
          <td>8</td>
          <td>$80,346</td>
          <td>$6,696</td>
        </tr>
        <tr>
          <td>For each additional family member, add:</td>
          <td>$8,177</td>
          <td>$682</td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
<div class="form-card__footer">
  <%= link_to(raw("<i class=\"icon-arrow_back\"></i>Go back"), eligible_steps_path, class: "button button--primary") %>
</div>