@import 'neat';
@import 'atoms/variables';

.template--homepage {
  margin-bottom: 0;

  .hero--index {
    h1, h2{
      color: #000;
    }
    .slab--hero {
      h1 {
        margin-bottom: 3rem;
      }
      background: none;
      padding-bottom: 12.5rem;
      @include media($tablet-up) {
        background: none;
        padding-bottom: 4rem;
      }
      &:before {
        content: '';
        background-repeat: no-repeat;
        background-position: 175% 117%;
        background-size: 90% auto;
        background-color: $color-magenta-light;
        background-image: image-url('pebt-hero.png');
        @include media($tablet-up) { /* Desktop */
          background-size: 57.5rem auto;
          background-position: 70% -1300%;
          background-image: image-url('pebt-hero.png');
        }
      }
    }
    .buttons-group {
      max-width: 40rem;
    }
    .main-header {
      background: none;
      .toolbar__item {
        color: #000;
      }
    }
    .main-header__title a {
      color: #000;
      &:before {
        background-image: image-url("gcf_logomark_black.png");
        @media only screen and (min-resolution: 1.3dppx), only screen and (min-resolution: 125dpi) {
          background-image: image-url("gcf_logomark_black@2x.png");
          background-size: 100% auto;
        }
      }
    }
  }
  .main-footer {
    height: inherit;
    position: inherit;
  }

  .main-footer__cfa-logo {
    @include media($tablet-up) {
      float: none;
    }
  }
}
