@import 'neat';
@import 'atoms/variables';

.template--homepage {
  margin-bottom: 0;

  .hero--index {
    h1, h2{
      color: #000;
    }
    .slab--hero {
      padding-bottom: 12.5rem;
      padding-top: $s60;
      background-size: 90% auto;
      background-color: $color-magenta-light;
      background-image: image-url('pebt-hero.png');
      background-repeat: no-repeat;
      background-position: bottom -5rem right -2.8rem;

      @include media($tablet-up) {
        padding-bottom: 15rem;
        background-size: 50rem;
        background-image: image-url('pebt-hero.png');
        background-position: bottom -10rem right 5%
      }

      @include media($site-max-up) {
        padding-bottom: 4rem;
        background-position: bottom -10rem right 25%
      }

      &:before {
        background-image: none; // Prevent loading default Honeycrisp hero image
      }

      h1 {
        margin-bottom: 3rem;
      }
    }
    .buttons-group {
      max-width: 40rem;
    }
    .main-header {
      background: none;
      .toolbar__item {
        color: #000;
      }
    }
    .main-header__title a {
      color: #000;
      &:before {
        background-image: image-url("gcf_logomark_black.png");
        @media only screen and (min-resolution: 1.3dppx), only screen and (min-resolution: 125dpi) {
          background-image: image-url("gcf_logomark_black@2x.png");
          background-size: 100% auto;
        }
      }
    }
  }
}
