@import 'neat';
@import 'atoms/variables';

.hero--food {
  h1, h2 {
    color: #000;
  }

  .slab--hero {
    background: none;
    @include media($tablet-up) { // Desktop
      background: none;
      padding-bottom: 2rem;
    }
    h2 {
      @include media($tablet-up) { // Desktop
        max-width: 48rem;
      }
    }

    &:before {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-magenta-light;
      background-repeat: no-repeat;
      background-position: 80% 110%;
      background-size: 24rem;
      background-image: image-url('pebt-info.png');
      @include media($tablet-up) { // Desktop
        background-image: image-url('pebt-info.png');
        background-size: 42.5rem;
        background-position: 70% 130%;
      }
    }

    .main-header {
      background: none;

      .toolbar__item {
        color: #000;
      }
    }

    .main-header__title a {
      color: #000;

      &:before {
        background-image: image-url("gcf_logomark_black.png");
        @media only screen and (min-resolution: 1.3dppx), only screen and (min-resolution: 125dpi) {
          background-image: image-url("gcf_logomark_black@2x.png");
          background-size: 100% auto;
        }
      }
    }
  }
}
