@import 'neat';
@import 'atoms/variables';
@import 'atoms/spacing';

.hero--food {
  h1, h2 {
    color: #000;
  }

  h3 {
    color: $color-grey-dark;
  }

  .toc {
    ul, li {
      list-style: none;
      @extend .spacing-below-25;
    }
  }

  .info_content {
    h2, h3 {
      @extend .spacing-above-60;
    }

    h2+h3 {
      @extend .spacing-above-0;
    }

    @extend .spacing-above-35;
    @include media($tablet-up) { // Desktop
      margin-top: 0px !important;
    }
  }

  .slab--hero {
    background: none;
    @include media($tablet-up) { // Desktop
      background: none;
      padding-bottom: 2rem;
    }
    h2 {
      @include media($tablet-up) { // Desktop
        max-width: 48rem;
      }
    }
    h1 {
      margin-top: 0;
    }

    &:before {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-magenta-light;
      background-repeat: no-repeat;
      background-position: 80% 110%;
      background-size: 24rem;
      background-image: image-url('pebt-info.png');
      @include media($tablet-up) { // Desktop
        background-image: image-url('pebt-info.png');
        background-size: 42.5rem;
        background-position: 70% 130%;
      }
    }

    .main-header {
      background: none;

      .toolbar__item {
        color: #000;
      }
    }

    .main-header__title a {
      color: #000;

      &:before {
        background-image: image-url("gcf_logomark_black.png");
        @media only screen and (min-resolution: 1.3dppx), only screen and (min-resolution: 125dpi) {
          background-image: image-url("gcf_logomark_black@2x.png");
          background-size: 100% auto;
        }
      }
    }
  }
}
