@import 'atoms/variables';

.with-no-padding {
  padding-bottom: 0 !important;
}

.padding-above-10 {
  padding-top: $s10 !important;
}

.padding-below-25 {
  padding-bottom: $s25 !important;
}

.button-spacer {
  // Used in case we want to account for the space of where a button would be, but is not for some reason:
  height: 64px;
  margin-bottom: 2.5rem;
}
