@import 'atoms/variables';

$s20: 2.0rem !default;
$s45: 4.5rem !default;

.with-no-padding {
  padding-bottom: 0 !important;
}

.padding-above-10 {
  padding-top: $s10 !important;
}

.padding-below-25 {
  padding-bottom: $s25 !important;
}

.padding-vertical-20 {
  padding-top: $s20 !important;
  padding-bottom: $s20 !important;
}

.padding-horizontal-45 {
  padding-left: $s45 !important;
  padding-right: $s45 !important;
}

.button-spacer {
  // Used in case we want to account for the space of where a button would be, but is not for some reason:
  height: 64px;
  margin-bottom: 2.5rem;
}
