/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'cfa_styleguide_main';
@import 'date_input';
@import 'homepage';
@import 'how';
@import 'info';

.emoji--pita {
  background-image: image-url('pita-emoji.png');
}

.slab--grey-light {
  background-color: $color-grey-light;
}

body {
  font-family: -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  margin-bottom: 0;
}

.form-card {
  max-width: 55rem;
  margin: 0 auto;
}

fieldset.form-group:last-of-type {
  margin-bottom: 0;
}

.select__element {
  padding: 0 $s60 0 $s15;
}

.toolbar {
  max-width: 55rem;
  margin: 0 auto;
}

.button {
  @media screen and (max-width: 380px) {
    margin-left: 0px;
  }
}

.slab--success {
  background-color: $color-teal-dark;
}

.rounded-border {
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

.template--success {
  .main-footer {
    height: inherit;
    position: inherit;
  }
}

.slab--hero {
  padding-top: 1.5em;
  .toolbar {
    line-height: 1em;
  }
}

.not-bold {
  font-weight: normal;
}

strong.extra-strong {
  text-decoration: underline;
}

.flash {
  position: absolute;
  z-index: 9999;
  margin-left: 15px;
  .flash__message {
    margin-right: 2rem;
  }
}

.main-footer {
  position: relative;
  font-weight: normal;
  height: auto !important;
  left: 0 !important;

  p.text--small {
    margin-bottom: 3.0rem;
  }

  .illustration {
    margin-bottom: 0;
  }
}

@include media($tablet-up) {
  .main-footer__cfa-logo {
    margin-top: 5.7rem;
  }
}

h1.form-card__title {
  font-weight: 700;
  line-height: 3.5rem;
}

.demo-banner {
  text-align: left;
  @include media($site-max-up) {
    text-align: center;
  }
  a {
    color: white;
  }
}
